@model IEnumerable<EulerDisplay.Models.ProblemViewModel>

@{
    ViewBag.Title = "Solution";
}

<table class="table" style="max-width:500px; margin:auto;">
    <thead>
        <tr>
            <th rowspan="2">
                <h2>@ViewBag.Problem</h2>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var solution in Model)
        {
            <tr>
                <td>@solution.Solver</td>
                <td>@solution.TotalElapsed.TotalMilliseconds ms</td>
            </tr>
        }
    </tbody>
</table>

